body {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.segundaPreentrega {
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-right: 50px;
}
p {
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-right: 25px;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
h1 {
    margin-bottom: 18px;
}
form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 40vh;
}
label {
    margin-bottom: 10px;
    text-align: left;
}
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 16px;
}
.checkbox-group label {
    margin-bottom: 5px;
}
button {
    padding: 16px;
    background-color: black;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    right: 250px;
    top: 135px;
}
button:hover {
    background-color: #203A43;
}

#passwordOutput {
    height: 4vh;
    margin-top: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    position: relative;
    top: 60px;
}